@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 58px;
    line-height: 64px;
    color: #222;
    font-family: 'League Spartan', sans-serif;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
    font-family: 'League Spartan', sans-serif;
}

h4 {
    font-size: 28px;
    color: #222;
    font-family: 'League Spartan', sans-serif;
}

h5 {

    font-family: 'League Spartan', sans-serif;
}

h6 {
    font-weight: 700;
    font-size: 12px;
    font-family: 'League Spartan', sans-serif;

}

p {
    font-size: 16px;
    color: #465b46;
    margin: 15px 0 20px 0;
    font-family: 'League Spartan', sans-serif;
}

.section-p1 {
    padding: 58px 80px;
}

.section-m1 {
    margin: 40px 0;
}



/* header  */
.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 2px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06)
}

#navheader {
    display: flex;
    list-style: none;
    text-decoration: none;


}

#navheader li {
    padding: 0 12PX;
    position: relative;
}

#navheader li a {

    font-size: 20px;
    margin-right: 40px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

#navheader li a:hover,
#navheader li a.active {
    color: #09988e;
}

#navheader li a.active::after,
#navheader li a:hover::after {
    content: '';
    width: 30PX;
    height: 2px;
    background: #09988e;
    position: absolute;
    bottom: -4px;
    left: 12px;

}

.d-flex {
    width: 100%;

}

.form-control {
    padding: 19px 16px;
    outline: none;
}

.navbar-expand-lg .navbar-collapse {
    margin-left: 123px;
}

/* home pafe */
.hero {
    background: url(img/hero4.png) no-repeat;
    background-size: cover;

    min-height: 100vh;
    width: 100%;
    padding: 0 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero h4 {
    color: #222;
    padding-bottom: 20px;
}

.her h2 {
    font-size: 57px;
}

.hero h1 {
    color: #09988e;
    font-size: 64px;
}

.hero p {
    font-size: 20px;
    margin-top: 23px;
}

.hero button {

    bottom: 100px;
    background: url(img/button.png) no-repeat;
    background-size: cover;
    padding: 20px 100px;
    font-size: 25px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    border: none;
    color: #09988e;

}

/* features */
.another {
    min-height: 100vh;
}

.features {

    display: flex;
    justify-content: center;

    /* flex-wrap: nowrap; */

    margin: 71px 34vh 0px 34vh;


}

.dilshad {
    margin: 0 30px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
    padding: 18px 0px;
    text-align: center;
    color: #09988e;

}

.dilshad:hover {
    box-shadow: 10px 10px 54px rgba(72, 62, 221, 0.2);
}

.dilshad h6 {
    margin: 17px 20px 0px 21px;
    padding: 13px 0px;
    font-size: 16px;
    border-radius: 3PX;


}

.shipping h6 {
    background: #dbf4f6;

}

.shipping2 h6 {
    background: #b1da71;


}

.shipping3 h6 {
    background: #f9a1d499;


}

.shipping4 h6 {
    background: #dbf4f6;


}

.shipping5 h6 {
    background: #c5e7ff;


}

.shipping6 h6 {
    background: #F6E5DC;


}

.pro-continer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.product1 {
    text-align: center;
}

.product1 p {
    margin-bottom: 78px;
}

.product1 .f1 {
    position: relative;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.02);
    margin-bottom: 30px;
    transition: 0.2s ease-in;

}

.product1 .f1:hover {
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
}

.product1 .f1 img {
    width: 100%;
    border-radius: 20px;
}

.pro-continer .f1 .des {
    text-align: start;
    padding: 10px 0;
}

.pro-continer .f1 .des span {
    color: #606063;
    font-size: 18px;
}

.pro-continer .f1 .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 19px;
}

.pro-continer .f1 .des h4 {
    padding-top: 14px;
    font-size: 20px;
    font-weight: 700;
    color: #09988e;
}

.pro-continer .f1 .des i {
    font-size: 15 px;
    color: rgb(243, 181, 25);
}

.pro-continer .f1 a i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 600;
    border: 1px solid #cce7d0;
    color: #09988e;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* banner */
.banner {
    position: relative;

}

.text {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background: url(/img/banner/b2.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    margin-bottom: 40px;
    padding-top: 70px;
}

.text h2,
h4 {
    margin-bottom: 25px;
    color: white;
}

.text h2 span {
    color: red;
}

.btn1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
    color: white;
    background: #09988e;
    padding: 17px 43px;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;
    color: white;
    background: #09988e;
    padding: 17px 43px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: white;
    color: black;
}

.newarr {
    margin-top: 359px;
    position: relative;
}

/* banner ------------------------------------------- */
.banner1 {
    display: flex;
    padding: 0 80px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container2 {
    color: white;
}

.banner1 .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url(/img/banner/b17.jpg) no-repeat;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.02);

}

.banner1 .second {
    background: url(/img/banner/b10.jpg) no-repeat;
    background-size: cover;

}

.container2 h2 {
    color: white
}

.container2:hover {
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);

}

.container2 button {
    font-family: 'League Spartan', sans-serif;
    font-size: 18px;

    color: white;
    background: transparent;
    padding: 17px 43px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in;
}

.container2:hover button {

    background: #09988e;
    border: 1px solid #09988e
}



.container2 h4 {
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 9px;
}

.container2 h5 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

/* .newbanner .img3 img{
    width: 80%;
} */
.banner2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 80px;
}

.banner2 .aww {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url(/img/banner/b7.jpg) no-repeat;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;

}

.banner2 .aww2 {
    background: url(/img/banner/b18.jpg) no-repeat;
    background-size: cover;
}

.banner2 .aww3 {
    background: url(/img/banner/b4.jpg) no-repeat;
    background-size: cover;
}

.banner2 h2 {
    color: white;
    font-weight: 900;
    font-size: 22px;
}

.banner2 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

.banner2 .aww {
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.02);
}

.banner2 .aww:hover {
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);

}

/* newletter-------------------------------- */
.newsletter {
    position: relative;
}

.newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(/img/banner/b14.png) no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;

}

.newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

.newsletter p span {
    color: #ffbd27;
}

.newsletter input {
    /* height: 47px; */
    padding: 15px 119px 15px 15px;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;



}

.newsletter button {
    position: absolute;
    right: 0px;

    background-color: #09988e;
    color: white;
    padding: 15px 25px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    white-space: nowrap;

}

.newsletter .form {
    display: flex;
    width: 40%;
    position: relative;
}


/* footer  ---------------- */
.footer {
    display: flex;
    justify-content: space-around;
}

.footer .col p {
    color: #818ea0;
    font-size: 17px;
    margin: 10px 0;
}

.footer .col span {
    color: black;
    font-size: 17px;
}

.footer img {
    margin-bottom: 25px;
}

.footer h5 {
    font-size: 19px;
    margin-bottom: 20px;
}

.bbb {
    margin-top: 25px;
}

.col2 {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
}

.footer .col2 a {
    color: #818ea0;
    font-size: 17px;
    margin: 4px 0;
    text-decoration: none;

}

.mobile i {
    display: none;
    align-items: center;
}

.navbar-toggler {
    border: none;
}

/* media query ================ */
/* @media(max-width:810px) and (min-width:481px) {
    #navheader {
        display: flex;
        flex-direction: column;
        padding: 15px 251px 15px 30px;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }

    #navheader.active {
        right: 0px;
    }

    #navheader li {
        margin-bottom: 25px;
    }

    .mobile i {
        display: flex;
        align-items: center;
        margin-right: 76vh;
        margin-top: 10px;
    }

    .mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile a {
        color: #1a1a1a;
    }

    #anothershopping {

        position: absolute;

        top: 23px;
        left: 44.5em;
    }

} */

@media(max-width:810px) {
    .features {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;

    }
}

@media(max-width:810px) and (min-width:500px) {
    .hero {
        position: relative;
        background-size: 100%;
        padding: 0;
        min-height: 49vh;
    }

    .hero h4 {
        font-size: 24px;
        margin-bottom: 0;
        padding-bottom: 6px;
    }

    .hero h2 {
        font-size: 35px;
        margin-bottom: 0;
    }

    .hero h1 {
        font-size: 49px;
    }

    .hero p {
        margin: 0;
    }

    .hero button {
        margin-top: 20px;
        padding: 6px 50px;
    }

    .hero2 {

        position: absolute;
        left: 35px;
        top: 50px;
    }

    .product1 p {
        margin-top: 5px;
    }

    .section-p1 {
        padding: 58px 0px;
    }

    .text {
        height: 19vh;
        padding-top: 0;
    }

    .text h2,
    h4 {
        margin-bottom: 0;
        font-size: 23px;
    }

    .btn {
        padding: 8px 16px;
    }

    .newarr {
        margin-top: 215px;
    }

    .banner1 {
        padding: 0;
    }

    .banner1 .container2 {
        min-width: 381px;
        height: 20vh;
    }

    .banner1 .container2 h4 {
        font-size: 25px;
    }

    .banner1 .container2 h2 {
        font-size: 34px;
    }

    .banner1 .container2 h5 {
        font-size: 16px;
    }

    .banner1 .container2 button {
        padding: 9px 23px;
    }

    .pro-continer {
        padding: 0 21px;
    }

    .banner2 {
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 0;

    }

    .banner2 .aww {
        min-width: 11%;
        height: 15vh;
    }

    .banner2 .aww2 {
        min-width: 31%;
    }

    .banner2 .aww3 {
        min-width: 32%;
    }

    .banner2 h2 {
        font-size: 19px;
    }

    .banner2 .aww2 h2 {
        line-height: 27px;
    }

    @media(max-width:620px) {
        .banner2 {
            flex-wrap: wrap;
        }

        .banner2 .aww {
            min-width: 70%;

        }
    }

    .newsletter {
        flex-direction: column;
    }

    .newsletter .form {
        position: relative;
        width: 54%;
    }

    .form button {
        position: absolute;
        right: 0;
    }

    .footer {
        padding: 58px 0px 0px 74px;

    }

    .d-flex {
        width: auto;
        margin-left: 17vh;
        /* position: absolute;
            left: 34vh */
    }


}



/* -------------------------------------------- */

@media(max-width:499px) and (min-width:320px) {
    .navbar-brand {
        width: 13%;
    }

    .navbar-brand img {
        width: 9vh;
    }

    .d-flex {
        width: 59%;
    }

    .btn {
        padding: 7px 9px;
        font-size: 14px;
    }

    .form-control {
        padding: 1px 8px;
        outline: none;
        height: 46px;

    }

    .hero {
        position: relative;
        background-size: 100%;
        min-height: 32vh;
        padding: 0px 10px;
    }

    .hero2 {
        position: absolute;
        top: 20px;
    }

    .hero h4 {
        padding: 0;
        margin: 0;
        font-size: 20px;
    }

    .hero h2 {
        line-height: 40px;
        font-size: 22px;
    }

    .hero h1 {
        line-height: 22px;
        font-size: 32px;
        padding-bottom: 6px;
    }

    .hero p {
        font-size: 12px;
        margin-top: 6px;
        margin-bottom: 10px;
    }

    .hero button {
        background-size: 100%;
        padding: 0px 32px;
        font-size: 18px;
        font-weight: 500;
    }

    @media(max-width:364px) {
        .hero h1 {

            font-size: 27px;

        }

        .hero p {
            font-size: 10px;


        }
    }

    .dilshad {
        width: 27%;
        margin: 0;
        padding: 18px 17px;
    }

    .dilshad img {
        width: 100%;
    }

    .dilshad h6 {
        margin: 16px 0px 0px 0px;
        padding: 11px 0px;
        font-size: 10px;
        border-radius: 3PX;
    }

    .product1 h1 {
        font-size: 35px;
        line-height: 19px;
    }

    .product1 p {
        margin: 12px 0 20px 0;
        font-size: 13px;
    }

    .section-p1 {
        padding: 58px 0px;
    }

    .pro-continer .f1 {
        min-width: 217px;
    }

    .pro-continer {
        padding: 0 10px;
    }

    @media(max-width:461px) and (min-width:398px) {
        .pro-continer {
            padding: 0 20px;
        }

        .pro-continer .f1 {
            min-width: 175px;
        }
    }

    @media(max-width:397px) and (min-width:320px) {

        .pro-continer .f1 {
            min-width: 150px;
        }

        .text h2,
        h4 {
            margin-bottom: 2px;
            font-size: 15px;
            color: white;
            line-height: 13px;
        }

        .btn1 {
            font-size: 11px;
            padding: 4px 9px;
            margin-bottom: 71px;
        }
    }


    .pro-continer .f1 .des {
        display: flex;
        flex-direction: column;
    }

    .pro-continer .f1 .des span {

        font-size: 12px;
    }

    .pro-continer .f1 .des h5 {

        font-size: 13px;
    }

    .star {
        font-size: 10px;
    }

    .pro-continer .f1 .des h4 {
        font-size: 15px;
    }

    .text {
        background-size: 100%;
        height: 12vh;
    }


    .text h2,
    h4 {
        margin-bottom: 2px;
        font-size: 17px;
        color: white;
        line-height: 25px;

    }

    .btn1 {
        font-size: 11px;
        padding: 9px 13px;
        margin-bottom: 58px;
    }

    .newarr {
        margin-top: 103px;

    }

    .banner1 {
        padding: 0;
    }

    .banner1 .container2 {
        min-width: 400px;
        height: 33vh;
    }

    .container2 h4 {

        font-size: 28px;

    }

    .container2 h2 {

        font-size: 35px;

    }

    .container2 h6 {

        font-size: 16px;

    }

    .container2 button {

        padding: 11px 19px;

    }

    .banner2 .aww {
        min-width: 100%;
        height: 16vh;
        background-size: 100%;
    }

    .section-p1 {
        flex-direction: column;

    }

    .newsletter .form {
        width: 77%;
    }

    .footer {
        padding: 20px 50px;
    }

    .banner2 h2 {
        font-size: 15px;
        line-height: 21px;
    }
}

@media(max-width:499px) and (min-width:320px) {}
